/*---------------------------HOME---------------------------*/
body {
  background-color: #eae1f1;
  margin: 0;
}
.gato-img-logo {
  width: 200px;
  height: 200px;
}
.container {
  display: flex;
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 810px;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  gap: 30px;
}
.containerHome {
  margin-top: 15px;
}
.imgLogo {
  width: 306px;
  height: 200px;
}

.textCenter {
  text-align: center;
}
/*--------------------*/
.btnLogin {
}
/*---------------------------LOGIN---------------------------*/
.imgLogoLogin {
  width: 306px;
  height: 200px;
}
.containerLogin {
  display: flex;
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 810px;
  margin: 20px;
  flex-direction: column;
  gap: 15px;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.input-email {
  font-size: 20px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  border: none;
}
.input-password {
  font-size: 20px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  border: none;
}
.input-name {
  font-size: 20px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  border: none;
}

/*---------------------------REGISTER---------------------------*/
.containerRegister {
  display: flex;
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 810px;
  margin: 20px;
  flex-direction: column;
  gap: 15px;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

/*---------------------------FEED---------------------------*/
.containerFeed {
  display: flex;
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 810px;
  margin: 20px;
  flex-direction: column;
  gap: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.new-post__container__textarea {
  display: flex;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 50px;
  width: 500px;
  border-color: blueviolet;
  border-radius: 15px;
}

.new-post__container__button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 25px;
  width: 90px;
  border-color: blueviolet;
  border-radius: 5px;
}
/**/
/*
principales
color= #F2E4EE
color= #3D3659
color= #6D658C
color= #0D0259
color= #B5B4D9
----------------------------------
tres principales
#EAE1F1
#C0B8DC
#5B5279
----------------------
/* Gradient in Hex 
linear-gradient(to right, #EAE1F1 0%, 23.329853862212943%, #C0B8DC 46.659707724425886%, 73.32985386221294%, #5B5279 100%);

 Gradient in RGBA 
linear-gradient(to right, rgba(234, 225, 241, 1) 0%, 23.329853862212943%, rgba(192, 184, 220, 1) 46.659707724425886%, 73.32985386221294%, rgba(91, 82, 121, 1) 100%);
*/
