/*---------------------------HOME---------------------------*/
body {
  margin: 0;
  height: 100vh;
}
.rootContainer{
  height: 100vh;
}
.container{
  background-image: url(img/fondo.jpeg);
  background-size: cover;
  height: 100%;
  z-index: -1;
  
}
.labgram-texto{
 margin: 0;
 font-family: 'Anton', sans-serif;
 color: rgba(197, 116, 193, 1);
 font-size: 72px;
 font-weight: 100;
 top: 50px;
 left: 70px;
 position: absolute; 

}
.p-texto{
  font-family: 'Bebas Neue', sans-serif;
  position: absolute;
  left: 16px;
  top: 180px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  font-size: 13px;
}
.logo-labgram{
  position: absolute;
  width: 272px;
  height: 291px;
  left: 59px;
  top: 264px;
}

.btn-iniciarSesion{
 position: absolute;
 width: 240px;
 height: 52px;
 left: 75px;
 top: 599px;
 background-color: #46355B;
 font-family: 'Anton';
 font-style: normal;
 font-weight: 400;
 font-size: 32px;
 line-height: 48px;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color: #EAE4D8;
 border-radius: 10px;
 border-style:none ;

}
.btn-register{
 position: absolute;
 width: 240px;
 height: 52px;
 left: 75px;
 top: 676px;
 background-color: #46355B;
 font-family: 'Anton';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 48px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #EAE4D8;
border-radius: 10px;
border-style:none ;

}
/*---------------------------LOGIN---------------------------*/
.imgLogoLogin {
  width: 306px;
  height: 200px;
}
.containerLogin {
  display: flex;
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 810px;
  margin: 20px;
  flex-direction: column;
  gap: 15px;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.input-email {
  font-size: 20px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  border: none;
}
.input-password {
  font-size: 20px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  border: none;
}
.input-name {
  font-size: 20px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  border: none;
}

/*---------------------------REGISTER---------------------------*/
.containerRegister {
  display: flex;
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 810px;
  margin: 20px;
  flex-direction: column;
  gap: 15px;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
/**/
/*
principales
color= #F2E4EE
color= #3D3659
color= #6D658C
color= #0D0259
color= #B5B4D9
----------------------------------
tres principales
#EAE1F1
#C0B8DC
#5B5279
----------------------
/* Gradient in Hex 
linear-gradient(to right, #EAE1F1 0%, 23.329853862212943%, #C0B8DC 46.659707724425886%, 73.32985386221294%, #5B5279 100%);

 Gradient in RGBA 
linear-gradient(to right, rgba(234, 225, 241, 1) 0%, 23.329853862212943%, rgba(192, 184, 220, 1) 46.659707724425886%, 73.32985386221294%, rgba(91, 82, 121, 1) 100%);
*/
