@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*---------------------------HOME---------------------------*/
body {
  width: 100vw;
  margin: 0;
  background-color: rgba(1, 7, 36, 1);
}

.rootContainer {
  height: 100vh;
}

.container {
  background-image: url(img/fondo.jpeg);
  background-size: cover;
  height: 100%;
  z-index: -1;
}

.labgram-texto {
  margin: 0;
  font-family: "Anton", sans-serif;
  color: rgba(197, 116, 193, 1);
  font-size: 72px;
  font-weight: 100;
  top: 50px;
  left: 70px;
  position: absolute;
}

.p-texto {
  font-family: "Bebas Neue", sans-serif;
  position: absolute;
  left: 16px;
  top: 180px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: -0.5px;
  color: #ffffff;
  font-size: 13px;
}

.logo-labgram {
  position: absolute;
  width: 272px;
  height: 291px;
}
.btn-iniciarSesion {
  position: absolute;
  width: 240px;
  height: 52px;
  left: 75px;
  top: 599px;
  background-color: #46355b;
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #eae4d8;
  border-radius: 10px;
  border-style: none;
}

.btn-register {
  position: absolute;
  width: 240px;
  height: 52px;
  left: 75px;
  top: 676px;
  background-color: #46355b;
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #eae4d8;
  border-radius: 10px;
  border-style: none;
}

.icono-flecha-home {
  z-index: 5;
}

.btn-flecha-home {
  position: absolute;
  top: 5px;
  width: 44px;
  height: 36px;
  z-index: 4;
  background-color: rgba(30, 30, 30, 0);
  border: none;
}

.btnQuestion {
  font-weight: bold;
}

.btnQuestion:hover {
  color: #ff4d5a;
  text-decoration: underline;
}

/*---------------------------LOGIN---------------------------*/
.fondo {
  background-color: rgba(1, 7, 36, 1);
  height: 100%;
}

.inicia-texto {
  position: absolute;
  width: 237px;
  height: 72px;
  left: 72px;
  top: 30px;

  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;

  color: #c574c1;
}

.imgLogoLogin {
  position: absolute;
  width: 136px;
  height: 146px;
  left: 127px;
  top: 170px;
}

.input-email {
  position: absolute;
  left: 5px;
  background-color: #00000000;
  border: none;
}
.imgLogoLogin {
  width: 136px;
  height: 146px;
}
.inicia-texto {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  color: #c574c1;
}

.input-email {
  width: 303px;
  height: 52px;
  left: 43px;
  top: 363px;
  background: #ffffff;
  border-radius: 10px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  margin: 15px;
  color: rgba(0, 6, 36, 0.37);
  text-align: center;
}

.input-password {
  position: absolute;
  width: 303px;
  height: 52px;
  left: 43px;
  top: 440px;
  background: #ffffff;
  border-radius: 10px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;

  color: rgba(0, 6, 36, 0.37);
  text-align: center;
}

.olvidoContraseña {
  position: absolute;
  width: 210px;
  height: 17px;
  left: 173px;
  top: 520px;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.inicia-sesion-login {
  position: absolute;
  width: 240px;
  height: 52px;
  left: 72px;
  top: 557px;
  background-color: #46355b;

  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #eae4d8;
  border-radius: 10px;
  border-style: none;
}

.ingresaCon-google {
  position: absolute;
  width: 103px;
  height: 22px;
  left: 143px;
  top: 639px;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.fondo-icono-google {
  position: absolute;
  width: 77px;
  height: 75px;
  left: 148px;
  top: 686px;

  background: #ff4d5a;
  border-radius: 39px;
}

.btn-google {
  position: absolute;
  width: 75px;
  height: 75px;
  left: 149px;
  top: 686px;
  z-index: 5;
  border: none;
  background-color: #ffffff00;
  border-radius: 40px;
  background-image: url(img/ios_google_icon_360.png);
  background-size: contain;
}

.btn-register-direccion {
  position: absolute;
  left: 72px;
  top: 791px;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: #00000000;
  border: none;
  margin-top: 25px;
}

/*---------------------------REGISTER---------------------------*/
.register-texto {
  position: absolute;
  width: 165px;
  height: 72px;
  left: 112px;
  top: 20px;

  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;

  color: #c574c1;
}

.imgLogoRegister {
  position: absolute;
  width: 136px;
  height: 146px;
  left: 127px;
  top: 170px;
}

.input-register-name {
  position: absolute;
  width: 303px;
  height: 52px;
  left: 43px;
  top: 363px;

  background: #ffffff;
  border-radius: 10px;
  text-align: center;
}

.input-register-email {
  position: absolute;
  width: 303px;
  height: 52px;
  left: 43px;
  top: 440px;
  text-align: center;
  background: #ffffff;
  border-radius: 10px;
}

.input-register-contraseña {
  position: absolute;
  width: 303px;
  height: 52px;
  left: 43px;
  top: 517px;
  text-align: center;
  background: #ffffff;
  border-radius: 10px;
}

.input-register-contraseña-confirmar {
  position: absolute;
  width: 303px;
  height: 52px;
  left: 43px;
  top: 588px;
  text-align: center;
  background: #ffffff;
  border-radius: 10px;
}

.btn-register-register {
  position: absolute;
  width: 240px;
  height: 52px;
  left: 72px;
  top: 695px;
  background: #46355b;
  border-radius: 10px;
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #eae4d8;
  border-style: none;
}

.btn-login-direccion {
  position: absolute;
  left: 72px;
  top: 791px;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: #00000000;
  border: none;
}

/*---------------------------FEED---------------------------*/
.colorLetras {
  color: #ffffff;
}

.fondo-feed {
  background-color: rgba(1, 7, 36, 1);
}
.labgram-text-feed {
  margin: 0;
  margin-left: 10px;
  width: 143px;
  height: 60px;
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  color: #c574c1;
}
.barra-morada-feed {
  box-sizing: border-box;

  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;

  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;

  color: #c574c1;
}

.barra-morada-feed {
  box-sizing: border-box;

  width: 390px;
  height: 60px;
  left: 0px;
  top: 0px;

  background: linear-gradient(90deg, #7945aa -50.9%, #4c2e64 76.54%);
  border: 1px solid #000000;
}

.publicaciones-feed {
  margin-left: 15px;
}

.bienvenida-feed {
  font-family: "Bebas Neue", sans-serif;
  position: absolute;
  left: 16px;
  top: 180px;
  font-style: normal;
  font-weight: 800;
  text-align: center;
  line-height: 22px;
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 15px;
}

.texto-publicacion {
  box-sizing: border-box solid white;
  margin-top: 70px;
  width: 299px;
  height: 108px;
  background: #ffffff;
  border: 1px solid #bb88bf;
  border-radius: 10px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;

  color: rgba(0, 6, 36, 0.37);
}

.btn-compartir {
  width: 103px;
  height: 36px;

  background: #bb88bf;
  border-radius: 7px;

  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.1em;

  color: #ffffff;
}

/*------------------snackbar-------------------------*/
#snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}

#snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 8s;
  /* Ajusta la duración de fadeout */
}

#snackbar-close {
  color: #c574c1;
  font-size: 15px;
  font-family: "Roboto Condensed";
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  letter-spacing: 0.1em;
}

#snackbar-close:hover {
  color: #ff4d5a;
  font-size: 15px;
  font-family: "Roboto Condensed";
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  letter-spacing: 0.1em;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

/*------------------PERFIL USUARIO-------------------------*/

.perfil-usuario {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-gap: 10px;
  margin-left: 10px;
  margin-top: 15px;
}

.usuario-saludo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
}

.foto-perfil {
  border-radius: 100px;
  width: 50px;
  height: 50px;
}

.hola-name {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  font-style: italic;
}

.new-post__container__textarea {
  border-radius: 15px;
  margin-left: 10px;
}

.new-post__container__button {
  border-radius: 10px;
  margin-left: 210px;
}

.posts__container {
  flex-shrink: 0;
  margin-left: 10px;
  font-size: 18px;
}

.posts__post {
  color: #cbbfcc;
}

/*------------------snackbar-------------------------*/
#snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}

#snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 8s;
  /* Ajusta la duración de fadeout */
}

#snackbar-close {
  color: #c574c1;
  font-size: 15px;
  font-family: "Roboto Condensed";
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  letter-spacing: 0.1em;
}

#snackbar-close:hover {
  color: #ff4d5a;
  font-size: 15px;
  font-family: "Roboto Condensed";
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  letter-spacing: 0.1em;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/*-------------MODAL EDITAR POST--------------*/
.close, .saveChanges {
  background-color: #46355b;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
}

.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;  
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #fff;
  width: 500px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal h1 {
  margin: 0;
  color: #c574c1;
  font-size: 30px;
}

.edit {
  background: gray;
  margin: 5px;
  width: 100%;
  opacity: 0.7;
  font-size: 14px;
  color: white;
}
