/** @format */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*---------------------------HOME---------------------------*/
body {
  margin: 0;
  background-color: rgba(1, 7, 36, 1);
  box-sizing: border-box;
}
.home-div__button{
  display: none;
}
#root {
  width: 100%;
  height: 100vh;
}
.container {
  background-image: url(img/fondo.jpeg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  justify-content: center;
}
.labgram-texto {
  margin: 0;
  font-family: 'Anton', sans-serif;
  color: rgba(197, 116, 193, 1);
  font-size: 72px;
  font-weight: 100;
}
.p-texto {
  font-family: 'Bebas Neue', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: -0.5px;
  color: #ffffff;
  font-size: 13px;
}
.logo-labgram {
  position: relative;
  width: 272px;
  height: 291px;
}
.btn-iniciarSesion {
  width: 240px;
  height: 52px;
  background-color: #46355b;
  font-family: 'Anton', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #eae4d8;
  border-radius: 10px;
  border-style: none;
}
.btn-iniciarSesion:hover {
  color: #ff4d5a;
}
.btn-register {
  width: 240px;
  height: 52px;
  background-color: #46355b;
  font-family: 'Anton', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #eae4d8;
  border-radius: 10px;
  border-style: none;
}
.btn-register:hover {
  color: #ff4d5a;
}

/*---------------------------LOGIN---------------------------*/
.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-btnHome {
  display: block;
}
.containerFlex {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.btnHome {
  position: absolute;
  left: 5px;
  background-color: #00000000;
  border: none;
}
.imgLogoLogin {
  width: 136px;
  height: 146px;
}
.inicia-texto {
  font-family: 'Anton', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  color: #c574c1;
}

.input-email {
  width: 303px;
  height: 52px;
  background: #ffffff;
  border-radius: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin: 15px;
  letter-spacing: 0.03em;
  color: rgba(0, 6, 36, 0.37);
  text-align: center;
}
.input-password {
  width: 303px;
  height: 52px;
  background: #ffffff;
  border-radius: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  margin: 15px;
  color: rgba(0, 6, 36, 0.37);
  text-align: center;
}

.olvidoContrase침a {
  font-family: 'Bebas Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin: 5px;
}
.ingresaCon-google {
  font-family: 'Bebas Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin: 5px;
  line-height: 22px;
  color: #ffffff;
}
.btn-google {
  margin: 5px;
  background-image: url(img/ios_google_icon_360.png);
  background-size: cover;
  background-color: #ff4d5a;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  border-style: none;
}
.btn-inicia-sesion-login {
  width: 240px;
  height: 52px;
  background-color: #46355b;
  font-family: 'Anton', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #eae4d8;
  border-radius: 10px;
  border-style: none;
  margin-top: 30px;
  margin-bottom: 25px;
}
.btn-inicia-sesion-login:hover {
  color: #ff4d5a;
}
.btn-register-direccion {
  font-family: 'Bebas Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: #00000000;
  border: none;
  margin-top: 25px;
}

/*---------------------------REGISTER---------------------------*/
.container-register {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgLogoRegister {
  width: 136px;
  height: 146px;
}
.register-texto {
  height: 72px;
  font-family: 'Anton', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  color: #c574c1;
}
.input-register-name {
  margin: 5px;
  width: 303px;
  height: 52px;
  background: #ffffff;
  border-radius: 10px;
  text-align: center;
}
.input-register-email {
  margin: 5px;
  width: 303px;
  height: 52px;
  background: #ffffff;
  border-radius: 10px;
  text-align: center;
}
.input-register-contrase침a {
  margin: 5px;
  width: 303px;
  height: 52px;
  background: #ffffff;
  border-radius: 10px;
  text-align: center;
}
.input-register-contrase침a-confirmar {
  margin: 5px;
  width: 303px;
  height: 52px;
  background: #ffffff;
  border-radius: 10px;
  text-align: center;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btnRegister {
  position: absolute;
  left: 5px;
  margin-top: 0px;
  background-color: #00000000;
  border: none;
}
.btn-register-register {
  margin: 40px;
  width: 240px;
  height: 52px;
  background: #46355b;
  border-radius: 10px;
  font-family: 'Anton', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #eae4d8;
  border-style: none;
}
.btn-register-register:hover {
  color: #ff4d5a;
}
.btn-login-direccion {
  font-family: 'Bebas Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: #00000000;
  border: none;
}
.icono-flecha-home {
  position: relative;
  left: 0;
}

/*modal*/
.modalRegister {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal-content {
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  background-color: #000624;
  border: 5px solid #7945aa;
  border-radius: 20px;
  width: 300px;
  height: 300px;
  justify-content: center;
}
.modalClose {
  background-color: #00000000;
  border: none;
}
.logo-register-exitoso{
  background-image: url();
}
/*---------------------------FEED---------------------------*/
.colorLetras {
  color: #ffffff;
}
.barra-morada-feed {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  background: linear-gradient(90deg, #7945aa -50.9%, #4c2e64 76.54%);
  border: 1px solid #000000;
}
.labgram-text-feed {
  margin: 0;
  margin-left: 10px;
  width: 143px;
  height: 60px;
  font-family: 'Anton', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  color: #c574c1;
}
.btn-cerrar-sesion {
  background-color: #00000000;
  border: none;
}

.publicaciones-feed {
  margin-left: 15px;
}
.texto-publicacion {
  box-sizing: border-box;
  width: 299px;
  height: 108px;
  background: #ffffff;
  border: 1px solid #bb88bf;
  border-radius: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;

  color: rgba(0, 6, 36, 0.37);
}
.btn-compartir {
  width: 103px;
  height: 36px;
  background: #bb88bf;
  border-radius: 7px;
  font-family: 'Bebas Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.new-post__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bienvenida-feed {
  text-align: center;
}
/*------------------feed post usuario-------------------------*/
.saludo {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
}
.usuario-saludo {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: 100;
}
.hola-name {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 25px;
  font-style: italic;
}
.new-post__container__textarea {
  border-radius: 15px;
  margin-left: 10px;
}
.new-post__container__button {
  border-radius: 10px;
  margin: 16px;
}
.posts__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.posts__post {
  color: #cbbfcc;
  border: 2px solid #c574c1;
  margin: 5px;
}
.barra-usuario-fecha {
  display: flex;
  justify-content: space-between;
  background-color: #bb88bf6f;
}
.p-usuario{
  margin-left: 15px;
}
.p-fecha{
  margin-right: 15px;
}
.parrafo-post {
  display: flex;
  white-space: pre-line;
  margin-left: 15px;
} 
.botones-edit-borrar-like {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #4c2e6470;
  justify-items: center;
  align-content: center;
}
.btn-borrar-post {
  display: grid;
  align-items: center;
  height: 40px;
  width: 40px;
  background: none;
  border: none;
  cursor: pointer;
}
.icon-tabler-trash {
  width: 24px;
  height: 24px;
}
.btn-editar-post {
  display: grid;
  align-items: center;
  height: 40px;
  width: 40px;
  background: none;
  border: none;
  cursor: pointer;
}
.icon-tabler-edit{
  width: 24px;
  height: 24px;
}
.btn-like-post{
  display: grid;
  align-items: center;
  height: 40px;
  width: 40px;
  background: none;
  border: none;
  cursor: pointer;
}
.icon-tabler-heart-handshake{
  width: 24px;
  height: 24px;
}
.likes-count{
  display: grid;
  align-items: center;
}
/*------------------snackbar-------------------------*/
#snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}

#snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 8s;
  /* Ajusta la duraci칩n de fadeout */
}

#snackbar-close {
  color: #c574c1;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  letter-spacing: 0.1em;
}
#snackbar-close:hover {
  color: #ff4d5a;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  letter-spacing: 0.1em;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/*-------------MODAL EDITAR POST--------------*/
.close, .saveChanges {
  background-color: #46355b;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px; /* Adjust the maximum width as needed */
  width: 100%;
  position: relative;
  z-index: 1;
}

.modal h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.modal .edit {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.modal button {
  border: none;
  background-color: #c574c1;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.modal button + button {
  margin-left: 10px;
}
